# SQL

## 1 задание

SELECT name, count(trip) as count
FROM Pass_in_trip INNER JOIN Passenger
    ON Pass_in_trip.passenger = Passenger.id
GROUP BY passenger
HAVING count > 0
ORDER BY count DESC, name;

## 2 задание

SELECT DISTINCT TIMEDIFF( 
                (SELECT end_pair FROM Timepair WHERE id=4),
                (SELECT start_pair FROM Timepair WHERE id=2)
                ) AS time
FROM Timepair;

## 3 задание

SELECT Rooms.*
FROM Rooms INNER JOIN Reservations
    ON Rooms.id=Reservations.room_id
WHERE (12 BETWEEN WEEK(start_date, 1) AND  WEEK(end_date, 1)) 
       AND YEAR(start_date)=2020;

## 4 задание

SELECT classroom
FROM Schedule
GROUP BY classroom
HAVING COUNT(classroom) = (SELECT COUNT(classroom) AS count
                           FROM Schedule
                           GROUP BY classroom
                           ORDER BY count DESC
                           LIMIT 1);

## 5 задание

#не успела разобраться с оконными функциями, но разберусь

## 6 задание

# Математика

## 1 задание

Можно по классическому определению вероятностей попробовать решить:
Общее количество исходов при шести раундах: 14^6. Но как определить благоприятное количество исходов????

## 2 задание

In [1]:
import numpy as np
from scipy import stats

p = 0.99
mean = 8
std = 4
n = 16

se = std/np.sqrt(n)
alpha = (1-p)/2
sigma = stats.norm().isf(alpha)
сonfidence_interval = mean - sigma*se, mean + sigma*se
print('[%.2f; %.2f]' % сonfidence_interval)

[5.42; 10.58]

## 3 задание

Так как результаты измерений представлены в шкале рангов, применяем непараметрические коэффициенты (Спирмена и Кендалла)

In [2]:
import pandas as pd

df = pd.DataFrame({'male' : [7, 8, 8, 5, 7], 'female' : [10, 5, 3, 8, 10]})
df.corr(method='spearman')

            male    female
male    1.000000 -0.648886
female -0.648886  1.000000

In [3]:
df.corr(method='kendall')

        male  female
male     1.0    -0.6
female  -0.6     1.0

Связь между оценками качеств партнеров у мужчин и женщин средняя, обратная по направлению (умеренной тесноты). Вроде стоит проверить значимость коэффициента ранговой корреляции, но в задании не задан доверительный интервал

# Программирование

## 1 задание

Если рассматривать только пары индексов, то решение вроде простое:

In [4]:
import random

def is_sum_index_target(nums, target):
    a = []
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == target:
                a.append([i, j])
    return a

temp = random.randint(1, 100)
nums = np.array([random.randint(0, 100) for _ in range(temp)])
print(nums)
target = random.randint(0, 100)
print(target)
print(is_sum_index_target(nums, target))

[28  1 85 71 22]
13
[]

Если можно суммировать больше двух значений массива, то задача значительно усложняется
#надо доделать

## 2 задание

Мое неоптимальное решение:

In [5]:
import random

def is_sum_index_target(nums, target):
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == target and i != j:
                return [i, j]

temp = random.randint(1, 100)
nums = np.array([random.randint(0, 100) for _ in range(temp)])
print(nums)
target = random.randint(0, 100)
print(target)
print(is_sum_index_target(nums, target))

[  4  93  60  54  20  70 100  37  68  22   9  45  33  45  96  65  96  64
  92  82  28  39  88  10  91  70  28  69  52  91  26  85  24  30]
2
None

Оптимальное нагулила и разобрала, но сама не написала:

In [6]:
def twoSum(nums, target):
    d = {}
    for i in range(len(nums)):
        d[nums[i]] = i
    for i in range(len(nums)):
        complement = target - nums[i]
        if complement in d and d[complement] != i:
            return [i, d[complement]]
            
temp = random.randint(1, 100)
nums = np.array([random.randint(0, 100) for _ in range(temp)])
print(nums)
target = random.randint(0, 100)
print(target)
print(twoSum(nums, target))

[  2  95  84  27  49  82  41  45 100  48  94  40  13  66   2  88  92  48
  23  10  19  17  54  12  35  59  96  82  40  87  45  16  30  97  42  98
  62  36  49  21  82   9  82  97  55   3  78  24 100  38  47   7  30]
62
[3, 24]